body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

header {
    background-color: #9fa19a;
    color: #000000;
/*     display: grid;
    grid-template-columns: 2; */
}

nav {
    display: inline-block;
    width: 80%;

}

main {
    background-color: #5fdd65;
    font-size: 120%;
}

footer {
    background-color: #9fa19a;
}

nav li {
    display: inline-flex;
   /* flex-direction:row;*/
    justify-content:space-around;
    list-style: none;
/*    flex-wrap: nowrap;
    width: 30%;*/
    align-items: center;
}

nav img {
    width: 10%;
    position: relative;
    left: 110%;
    top: -40px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

p {
    line-height: 10mm;
}

.grid {
    display: grid;
    
/*    grid-template-columns: auto auto; */
    grid-template-columns: 40% 40%;
    justify-content:space-evenly;
    row-gap: 20px;
/*    align-items: center; */
}

.grid > img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.current {
    text-transform: uppercase;
    background-color: aquamarine;
}

nav a {
    text-decoration: none;
}

header h1 {
    font-family: cursive, 'Courier New', Courier, monospace;
}

nav ul {
    position: relative;
    top: 160px;
}