body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

header {
    background-color: #9fa19a;
    color: #000000;
}

header h1 {
    font-family: cursive, 'Courier New', Courier, monospace;
}


main {
    background-color: #5fdd65;
    font-size: 120%;
}

footer {
    background-color: #9fa19a;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

p {
    line-height: 10mm;
}

nav {
    display: inline-block;
    width: 80%;

}


nav li {
    list-style: none;
}

nav img {
    width: 10%;
    position: relative;
    left: 110%;
/*    top: -40px;*/
    top: 0vh;
}

nav a {
    /*    text-decoration: none;*/
    color: #04044d;
    }
    
    
nav ul {
        position: relative;
        top: 15vh;
    }

footer a {
    color: #04044d;
    }

.grid {
    display: grid;    
    grid-template-columns: 40% 40%;
    justify-content:space-evenly;
    row-gap: 20px;
}

.grid > img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.current {
    text-transform: uppercase;
    background-color: aquamarine;
}